.titulo {
  background-color: lightgray;
  text-align: center;
}

.fatura-de-cobranca {
  padding: 20px;
}

.importar-button {
  margin-bottom: 20px;
}

.tabela-fatura {
  width: 100%;
  border-collapse: collapse;
}

.tabela-fatura th,
.tabela-fatura td {
  border: 1px solid lightgray;
  padding: 8px;
  text-align: left;
}

.tabela-fatura thead th {
  background-color: lightgray;
}

.tabela-fatura tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
}



